.github-block__container {
  width: 100%;
  height: auto;
  overflow-x: auto;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
}

.github-block__svg {
  rect,
  rect[data-level="0"] {
    fill: var(--gh-100);
  }
  rect[data-level="1"] {
    fill: var(--gh-300);
  }
  rect[data-level="2"] {
    fill: var(--gh-500);
  }
  rect[data-level="3"] {
    fill: var(--gh-700);
  }
  rect[data-level="4"] {
    fill: var(--gh-900);
  }

  text {
    font-family: 'Geist Mono Variable', monospace;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5rem;
    fill: var(--fg-900);
  }
}
