.search-block__container {
  width: 100%;
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--gr-900);
  border-radius: 0.5rem;
  background-color: var(--bg-500);

  svg {
    width: 1rem;
    height: 1rem;
    color: var(--fg-100);
    stroke-width: 0;
    transition: color 0.2s;

    &:has(+ input:not(:placeholder-shown)) {
      color: var(--fg-900);
    }
  }

  &:focus-within {
    svg {
      color: var(--fg-900);
    }
  }
}

.search-block__input {
  flex: 1;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--fg-900);

  &::placeholder {
    color: var(--fg-100);
  }
}