.block-blog-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  text-decoration: none;
}

.block-blog-card__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
}

.block-blog-card__meta {
  font-family: 'Geist Mono Variable', monospace;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--fg-100);
}

.block-blog-card__title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--fg-900);
}

.block-blog-card__icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: .75rem;
    color: var(--fg-900);
    stroke-width: 0;
  }
}