@use "../utils";

.footer {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem; 
}

.footer-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.footer-header__heading {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--fg-900);
}

.footer-header__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  
  @include utils.mq("md") {
    flex-direction: row;
  }
}

.footer-header__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-header__socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
  @include utils.mq("md") {
    align-items: flex-end;
  }
}

.footer-header__link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  color: var(--fg-100);
  
  svg {
    stroke-width: 0;
    width: 0.5rem;
    height: 0.5rem;
    stroke: var(--fg-100);
  }

  &:hover {
    color: var(--fg-900);
    text-decoration: underline;

  }
}

.footer-foot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-foot__copyright {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--fg-100);
}