[build]
  base = "static-template"
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/projects"
  to = "/projects.html"
  status = 200

[[redirects]]
  from = "/blogs"
  to = "/blogs.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200